@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* <!------------Barra Navegación---------------> */
.contenedor_navbar {
    display: flex;
    height: 65px;
    padding: 10px;
    position: fixed;
    z-index: 80;
    font-size: 23px;
    background-color: #1f2028;
    width: 100vw;
}

.navbar1 {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-left: 10px;
}

.navbar1 a {
    text-decoration: none;
}

.navbar2 {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-left: 160px;
}

audio {
    width: 260px;
    border: 3px solid greenyellow;
    border-radius: 50px;
    background-color: greenyellow;
    margin-top: -4px;
    margin-left: -80px;
    margin-right: 20px;
}

.navbar3 {
    display: flex;
    justify-content: center;
    width: 700px;
    margin-left: 130px;
    text-transform: uppercase;
}

.navbar3 li {
    margin-right: 20px;
}

.y {
    color: rgb(255, 72, 0);
    transition: .5s;
}

.r {
    color: aqua;
    transition: .5s;
}

.m {
    color: greenyellow;
    transition: .5s;
}

.y:hover {
    color: aqua;
    cursor: pointer;
}

.r:hover {
    color: greenyellow;
    cursor: pointer;
}

.m:hover {
    color: rgb(255, 72, 0);
    cursor: pointer;
}

.menu {
    display: flex;
    margin-top: 1em;
}

.menu li {
    list-style: none;
    padding: 0em 1em;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: .15s;
}

.menu .active {
    color: aqua;
}

.menu a:hover {
    border-color: aqua;
    color: aqua;
    border-radius: 5%;
    padding: 8px;
    border-style: ridge;
    font-size: 17px;
}

/* <!------------Bienvenida---------------> */
.bienvenida {
    background-color: #1f2028;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.brand {
    font-size: 5rem;
    color: #fff;
    text-align: center;
    padding-top: 17rem;
}

.brand h1 {
    font-size: 5rem;
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 9em;
}

.redes a {
    font-size: 30px;
    padding: 15px;
}

.redes .icon-color {
    color: #fff;
    transition: .15s;
}

.redes .icon-color:hover {
    color: greenyellow;
    font-size: 35px;
}

/* <!------------Sobre mi-----------------------> */
.sobre_mi {
    color: #1f2028;
    width: 100%;
    background-color: #fff;
    height: 100vh;
}

.row_sobre_mi {
    margin: 10px ;
    display: flex;
    width: 100vw;
}

.column_sobre_mi-texto {
    margin: 50px;
    margin-top: 100px;
    font-size: 15px;
    padding: 50px;
    width: 920px;
    height: 530px;
}

.column_sobre_mi-texto p {
    text-align: justify;
}

.column_sobre_mi-texto b {
    font-size: 19px;
}

.column_sobre_mi-img {
    height: 560px;
    margin-top: 85px;
}

.column_sobre_mi-img img {
    width: 210px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px 15px #1f2028;
}

.descargar__cv button{
    padding: 10px 20px;
    background-color: #1f2028;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold ;
    margin-top: 90px;
    margin-left: 280px;
    transition: .3S;
}

.descargar__cv button:hover {
    background-color: aqua;
    color: #1f2028;
    border-width: 4px;
    box-shadow: 5px 5px #1f2028;
}

.descarga-icon {
    margin-left: 1em;
    margin-bottom: -2px;
}

/*<!------------Antecedentes académicos--------> */
.estudios {
    background-color: #1f2028;
    color: #1f2028;
    width: 100%;
    height: 100vh;
    padding: 2em;
}

.row_estudios {
    margin: -16px;
}

.column_estudios1 {
    float: left;
    width: 50%;
}

.column_estudios2 {
    float: left;
    width: 50%;
    height: 80vh;
}

/* timeline */

.estudios .timeline-area {
    margin: 85px -14em;
    width: 360px;
    border-left: 5px solid rgb(255, 72, 0);
    padding: 0 20px 0 30px;
}

.estudios .tarjetas_estudios {
    background-color: #fff;
    padding: 3px 25px;
    font-size: 13px;
    border: 1px solid rgb(255, 72, 0);
    line-height: 1.7;
    position: relative;
    height: 115px;
    width: 565px;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: .2s;
}

.estudios .tarjetas_estudios:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 20px 20px #1f2028;
    cursor: pointer;
    z-index: 1;
}

.estudios .tarjetas_estudios:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1f2028;
    border: 3px solid rgb(255, 72, 0);
    position: absolute;
    top: 10px;
    left: -49px;
}

.estudios .tarjetas_estudios:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 8px;
    position: absolute;
    top: 15px;
    left: -22px;
}

.estudios .tarjetas_estudios h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
}

.estudios .tarjetas_estudios h3 {
    margin: 0;
    font-size: 20px;
}

.estudios .tarjetas_estudios h4{
    margin: 0;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
}

.estudios .imagen-educacion {
    padding-top: 5em;
}

.estudios .imagen-educacion img {
    width: 70px;
    margin-left: 17em;
    margin-bottom: -40px;
    margin-top: 17px;
    border-radius: 50%;
	transition: .2s;    
}

.estudios .imagen-educacion img:hover {
	transform: scale(1.3);
}

/* <!------------Experiencia Laboral------------> */
.laburo {
    background-color:#1f2028;
    color: #1f2028;
    width: 100%;
    height: 165vh;
    padding: 2px;
}

.row_laburo {
    margin: -16px;
}

.column_laburo1 {
    float: left;
    width: 70%;
    background-color: #1f2028;
    height: 530px;
}

.column_laburo2 {
    float: left;
    width: 30%;
    height: 80vh;
    background-color:#1f2028;
}

/* timeline */

.laburo .timeline-area {
    margin: 85px 10em;
    width: 750px;
    border-right: 5px solid rgb(255, 72, 0);
    padding: 0 20px 0 0;
}

.laburo .tarjetas_laburo {
    background-color: #fff;
    padding: 3px 15px;
    font-size: 13px;
    border: 1px solid rgb(255, 72, 0);
    line-height: 1.7;
    position: relative;
    height: 193px;
    width: 700px;
    margin-bottom: 5px;
    border-radius: 15px;
    transition: .2s;
}

.laburo .tarjetas_laburo:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 20px 20px #1f2028;
    cursor: pointer;
    z-index: 1;
}

.laburo .tarjetas_laburo:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1f2028;
    border: 3px solid rgb(255, 72, 0);
    position: absolute;
    top: 10px;
    left: 729px;
}

.laburo .tarjetas_laburo:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 8px;
    position: absolute;
    top: 15px;
    left: 703px;
}

.tarjetas_laburo h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.tarjetas_laburo h3 {
    margin: 0;
    font-size: 15px;
}

.tarjetas_laburo h4{
    margin: 0;
    font-size: 14px;
    font-family:'Courier New', Courier, monospace ;
}

.tarjetas_laburo .sub {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.tarjetas_laburo .descripcion_laburo {
    display:flex;
    width: 670px;
    height: 80px;
    background-color: #fff;
    padding-left: 20px;
    margin-top: 2px;
}

.tarjetas_laburo .descripcion_laburo ul {
    width: 50%;
}

.laburo .imagen-laburo {
    padding-top: 5em;
}

.laburo .imagen-laburo img {
    width: 70px;
    margin-left: 2em;
    margin-bottom: -40px;
    margin-top: 80px;
    border-radius: 50%;
	transition: .2s;    
}

.laburo .imagen-laburo img:hover {
	transform: scale(1.5);
}

/* <!------------Competencias-------------------> */
.competencias {
    background-color: #fff;
    color: #1f2028;
    width: 100%;
    height: 100vh;
    padding: 50px 0 0 20px;
}

.column_competencias {
    justify-content: center;
    width: 410px;
    height: 560px;
    background-color: #fff;
    margin-top: 23px;
    margin-right: 25px;
    float: left;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    border: 1px solid #1f2028;
    transition: .3s;
}

.column_competencias .li_tec {
    background-color: #1f2028;
    border-radius: 5px;
    color: #fff;
    margin-top: 2px;
    text-align: center;
}

.column_competencias:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 10px 10px 20px rgb(15, 85, 85);
    border: 1px solid aqua;
}

.column_competencias h3 {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}

.column_competencias .ul_tec {
    margin-left: 10px;
}

.competencia_grupo {
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
    justify-content: space-around;
}

.img_competencias {
    text-align: center;
}

.img_competencias img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.ul_blandas {
    margin-left: 10px;
}

.li_blandas {
    background-color: #1f2028;
    border-radius: 5px;
    color: #fff;
    margin-top: 2px;
    text-align: center;
    list-style: none;
}

.ul_blandas_lista {
    padding-left: 25px;
    font-size: 14px;
    padding-top: 5px;
    list-style-type: disc;
    margin-bottom: 15px;
}

.animacion_tarjeta {
    transition: .3s;
}

.animacion_tarjeta:hover {
    background-color: #fff;
    border-radius: 10px;
    transform: scale(1.13);
    box-shadow: 5px 5px 10px #1f2028;
}

.li_pasa {
    list-style: none;
    display: flex;
    margin-top: 50px;
	transition: .3s;
}

.li_pasa:hover {
	transform: scale(1.2);
    box-shadow: 5px 5px 10px #1f2028;
    background-color: #fff;
    border-radius: 20px;
}

.li_pasa img {
    width: 70px;
    border-radius: 50%;
    margin-top: -20px;
    margin-right: 15px;
}

.ante_titulo {
    font-size: 10px;
    margin: -6px;
    text-align: center;
}

/* .estudios .imagen-educacion img {
    width: 70px;
    margin-left: 17em;
    margin-bottom: -40px;
    margin-top: 17px;
    border-radius: 50%;

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;    
}

.estudios .imagen-educacion img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
} */

/* <!------------Proyectos----------------------> */
.proyectos {
    background-color: #1f2028;
    color: #1f2028;
    width: 100%;
    height: 100vh;
    padding: 2em;
}

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

#i1, #i2, #i3, #i4, #i5{ display: none;}

.container__proyectos{
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 38%;
    user-select: none;
    background-color: #1f2028;
    border-radius:10px;
}

.container__proyectos .slide_img{
    position: absolute;
    width: 100%;;
    height: 100%;
    border: 2px solid greenyellow;
    border-radius: 10px;
}

.row__slide {
    margin: 20px 50px;
}

.column__slide-img {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: #fff;
    height: 450px;
    background-color: #1f2028;
}

.column__slide-img img {
    width: 370px;
    height: 200px;
    margin-top: 20px;
    border-radius: 20px;
}

.enlaces__proyectos {
    display: flex;
    justify-content: center;
    margin-left: -270px;
}

.enlaces__proyectos a {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    font-size: 30px;
    margin-left: 20px;
    color: #fff;
}

.enlaces__proyectos a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: greenyellow;
}

.column__slide-descrip {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: #fff;
    height: 380px;
    border-radius: 20px;
    margin-top: 30px;
}

.column__slide-descrip p {
    padding: 15px;
    text-align: justify;
}

.column__slide-descrip h3 {
    text-align: center;
    margin-top: 10px;
    padding: 15px;
}

.footer_slide {
    font-size: 14px;
}

.prev, .next{
    width: 5%;
    height: inherit;
    position: absolute;
    top: 0; 
    background-color: rgba(88, 88, 88,.2);
    color:rgba(244, 244, 244,.9);
    z-index: 2;
    transition: .1s;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

.next{right:0;}
.prev{left:0;}

.container__proyectos label span{
    position: absolute;
    font-size: 65pt;
    top: 50%;
    transform: translateY(-50%);
}

.prev:hover, .next:hover{
    transition: .3s;
    background-color: #1f20287a;
    color: #fff; 
}

.container__proyectos #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 15px;
	height: 15px;
	margin: 30px 15px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #fff;
	transition: .1s;
    border: 2px solid greenyellow;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #1f2028;
	transition: .1s
}

.slide_img{z-index: -1;}

#i1:checked ~ #one  ,
#i2:checked ~ #two  ,
#i3:checked ~ #three,
#i4:checked ~ #four ,
#i5:checked ~ #five 
{z-index: 9; animation: scroll 1s ease-in-out;}

#i1:checked  ~  #nav_slide #dot1,
#i2:checked  ~  #nav_slide #dot2,
#i3:checked  ~  #nav_slide #dot3,
#i4:checked  ~  #nav_slide #dot4,
#i5:checked  ~  #nav_slide #dot5
{ background-color: #1f2028;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

/* <!------------Contacto-----------------------> */
.contacto {
    background-color: #fff;
    color: #1f2028;
    width: 100%;
    height: 50vh;
    padding: 2em;
}

.container__contacto {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mail {
    color: rgb(244, 67, 54);
}

.link {
    color: rgb(10, 102, 194);
}

.direc {
    color: rgb(216, 62, 53);
}

.container__contacto a {
    transition: .2s;
    margin: 50px;
    font-size: 60px;
}

.container__contacto a:hover {
    transform: scale(1.3);
}

.contacto p {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}